@import "reset.css";
@import "https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap";
@import "background.css";

body {
  font-family: Assistant, sans-serif;
  font-weight: bold;
}

span {
  font-size: 1.4rem;
}

header {
  color: #333;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.app-square {
  width: 75%;
  padding: 50px 0;
  text-align: center;
  border-radius: 10px;
  background-color: #7e5c0c;
  box-shadow: 0 0 8px 3px #181818;
}

.ml9 {
  font-weight: 200;
  font-size: 4em;
  position: relative;
}

.ml9 .text-wrapper {
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  position: relative;
}

.ml9 .letter {
  line-height: 1em;
  font-size: 6rem;
  transform-origin: 50% 100%;
  display: inline-block;
}

.btn {
  width: 310px;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: #333;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0 8px black inset;
  display: flex;
}

.btn:hover {
  background: #cac8c8;
}

.dice-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.cardboard-display {
  width: 300px;
  height: 250px;
  padding: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #eee;
  box-shadow: 0 0 8px 3px #181818 inset;
}

.cardboard-display span {
  font-size: 2.5rem;
}

.app-square h1 {
  margin-bottom: 20px;
  color: #eee;
  text-transform: uppercase;
  text-shadow: 2px 2px #131313;
}

.bingo-container {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cardboard {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.number {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.bingo-section {
  width: 250px;
  height: 250px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bingo {
  width: 300px;
  height: 300px;
  padding: 120px;
  border-radius: 50%;
  background-color: #bf911b;
  box-shadow: 0 0 10px 3px #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bingo > p {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px #131313;
}

.history-container {
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history {
  width: 55%;
  height: 70%;
  padding: 20px 30px;
  text-align: center;
  background-color: #eee;
  box-shadow: 0 0 10px 6px #414141;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.history-number {
  font-size: 1.4rem;
  font-weight: 800;
  color: #333;
}

.strikethrough {
  font-size: 1.2rem;
  text-decoration: line-through;
  color: #871016;
  box-shadow: 0 0 7px #131313 inset;
  background-color: #bf911b;
}
